@model CharlieBackend.Core.DTO.Schedule.CreateScheduleDto
@using CharlieBackend.Core.DTO.Schedule
@using CharlieBackend.Core.Entities


@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-row  justify-content-center">

    <div class="container mt-3 col-5">

        <h1 class="h3 mb-2 text-gray-800">Update event occurrence</h1>

        <div class="card shadow mb-4">

            <div class="modal-body">
                <form method="post" asp-action="UpdateEventOccurrence" asp-controller="EventOccurrence" asp-route-id="@ViewBag.CurrentId">

                    <div class="form-group">
                        <label>Student Group </label>
                        <select class="custom-select" asp-for="Context.GroupID" size="1">

                            @if (@ViewBag.EventOccurrence.AllStudentGroups != null)
                            {
                                var scheduledEvent = (@ViewBag.EventOccurrence.Events as IEnumerable<CharlieBackend.Core.DTO.Schedule.ScheduledEventDTO>).FirstOrDefault();

                                @foreach (var studentGroup in @ViewBag.EventOccurrence.AllStudentGroups)
                                {
                                    @if (scheduledEvent != null && scheduledEvent.StudentGroupId == studentGroup.Id)
                                    {
                                        <option selected value="@studentGroup.Id">@studentGroup.Name</option>
                                    }
                                    else
                                    {
                                        <option value="@studentGroup.Id">@studentGroup.Name</option>
                                    }
                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Mentor </label>
                        <select class="custom-select" asp-for="Context.MentorID" size="1">

                            @if (@ViewBag.EventOccurrence.AllMentors != null)
                            {
                                @foreach (var item in @ViewBag.EventOccurrence.AllMentors)
                                {
                                    @if ((@ViewBag.EventOccurrence.Events as IEnumerable<CharlieBackend.Core.DTO.Schedule.ScheduledEventDTO>).Any(x => x.MentorId == item.Id))
                                    {
                                        <option selected value="@item.Id">
                                            @item.FirstName
                                            @item.LastName
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">
                                            @item.FirstName
                                            @item.LastName
                                        </option>
                                    }
                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Theme </label>
                        <select class="custom-select" asp-for="Context.ThemeID" size="1">

                            @if (@ViewBag.EventOccurrence.AllThemes != null)
                            {
                                @foreach (var item in @ViewBag.EventOccurrence.AllThemes)
                                {
                                    @if ((@ViewBag.EventOccurrence.Events as IEnumerable<CharlieBackend.Core.DTO.Schedule.ScheduledEventDTO>).Any(x => x.ThemeId == item.Id))
                                    {
                                        <option selected value="@item.Id">
                                            @item.Name
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@item.Id">
                                            @item.Name
                                        </option>
                                    }
                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Start date</label>
                        <input type="datetime-local" min="1900-01-01" max="2100-12-31"
                               value="@ViewBag.EventOccurrence.EventStart.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T')" class="form-control" asp-for="Range.StartDate">
                    </div>

                    <div class="form-group">
                        <label>End date</label>
                        <input type="datetime-local" min="1000-01-01" max="3000-12-31" class="form-control"
                               value="@ViewBag.EventOccurrence.EventFinish.ToString("yyyy-MM-dd HH:mm").Replace(' ', 'T')" asp-for="Range.FinishDate">
                    </div>

                    <div class="form-group">
                        <label>Pattern type</label>
                        <select class="custom-select" onchange="UpdateForm(this.value)" asp-for="Pattern.Type" size="1" id="pattern">
                            @{
                                var patternValues = Enum.GetValues(typeof(PatternType));
                                for (int i = 0; i < patternValues.Length; i++)
                                {
                                    if ((PatternType)patternValues.GetValue(i) == @ViewBag.EventOccurrence.Pattern)
                                    {
                                        <option value="@i" selected>
                                            @((PatternType)patternValues.GetValue(i))
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@i">
                                            @((PatternType)patternValues.GetValue(i))
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Interval</label>
                        <input type="number" min="1" max="30" class="form-control"
                               value="@ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern.Interval" asp-for="Pattern.Interval">
                    </div>


                    <div class="form-group" id="days-of-week" hidden="hidden">
                        <label>Days of week type</label>
                        <select class="custom-select" asp-for="Pattern.DaysOfWeek" size="7">
                            @{
                                var daysofWeekValues = Enum.GetValues(typeof(DayOfWeek));
                                if (@ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern.DaysOfWeek != null)
                                {
                                    for (int i = 0; i < daysofWeekValues.Length; i++)
                                    {
                                        if ((@ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern.DaysOfWeek as IEnumerable<DayOfWeek>).Any(x => x == (DayOfWeek)daysofWeekValues.GetValue(i)))
                                        {
                                            <option value="@i" selected>
                                                @((DayOfWeek)daysofWeekValues.GetValue(i))
                                            </option>
                                        }
                                        else
                                        {
                                            <option value="@i">
                                                @((DayOfWeek)daysofWeekValues.GetValue(i))
                                            </option>
                                        }
                                    }
                                }
                                else
                                {
                                    <option value="0">
                                        Sunday
                                    </option>
                                    <option value="1" selected>
                                        Monday
                                    </option>
                                    <option value="2">
                                        Tuesday
                                    </option>
                                    <option value="3">
                                        Wednesday
                                    </option>
                                    <option value="4">
                                        Thursday
                                    </option>
                                    <option value="5">
                                        Friday
                                    </option>
                                    <option value="6">
                                        Saturday
                                    </option>
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group" id="pattern-index" hidden="hidden">
                        <label>Pattern index</label>
                        <select class="custom-select" asp-for="Pattern.Index" size="1">
                            @{
                                var monthIndexValues = Enum.GetValues(typeof(MonthIndex));
                                for (int i = 0; i < monthIndexValues.Length; i++)
                                {
                                    if ((MonthIndex)monthIndexValues.GetValue(i) == @ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern.Index)
                                    {
                                        <option value="@i" selected>
                                            @((MonthIndex)monthIndexValues.GetValue(i))
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="@i">
                                            @((MonthIndex)monthIndexValues.GetValue(i))
                                        </option>
                                    }
                                }
                            }
                        </select>
                    </div>

                    <div class="form-group dates" id="dates" hidden="hidden">
                        <label>Days of month </label>
                        <select class="custom-select" asp-for="Pattern.Dates" size="5">
                            @for (int i = 1; i <= 31; i++)
                            {
                                if (@ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern.Dates != null && (@ViewBag.EventOccurrence.DetailedEventOccurrence.Pattern as CharlieBackend.Core.DTO.Schedule.PatternForCreateScheduleDTO).Dates.Any(y => y == i))
                                {
                                    <option value="@i" selected>
                                        @i
                                    </option>
                                }
                                else
                                {
                                    <option value="@i">
                                        @i
                                    </option>
                                }
                            }


                        </select>
                    </div>


                    <div class="mt-3">
                        <a class="btn btn-secondary" asp-action="AllEventOccurrences" asp-controller="EventOccurrence">Close</a>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        function UpdateForm(value) {
            if (value == 0) {
                document.getElementById("dates").hidden = true;
                document.getElementById("days-of-week").hidden = true;
                document.getElementById("pattern-index").hidden = true;
            }
            else if (value == 1) {
                document.getElementById("dates").hidden = true;
                document.getElementById("days-of-week").hidden = false;
                document.getElementById("pattern-index").hidden = true;
            }
            else if (value == 2) {
                document.getElementById("dates").hidden = false;
                document.getElementById("days-of-week").hidden = true;
                document.getElementById("pattern-index").hidden = true;
            }
            else if (value == 3) {
                document.getElementById("dates").hidden = true;
                document.getElementById("days-of-week").hidden = false;
                document.getElementById("pattern-index").hidden = false;
            }
        }
    </script>

    <script>
        UpdateForm(document.getElementById("pattern").value);
    </script>
}
