@*@model CharlieBackend.Core.DTO.Lesson.CreateLessonDto*@
@model CharlieBackend.Panel.Models.Lesson.LessonCreateViewModel


@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-row  justify-content-center">

    <div class="container mt-4 col-6">

        <h1 class="h3 mb-2 text-gray-800">Add Lesson</h1>

        <div class="card shadow mb-4">

            <div class="modal-body">
                <form method="post" asp-action="AddLesson" asp-controller="Lessons">

                    <div class="form-group">
                        <label>Mentor </label>
                        <select class="custom-select" asp-for="MentorId" size="1">

                            @if (@ViewBag.Lesson.Mentors != null)
                            {
                                @foreach (var item in @ViewBag.Lesson.Mentors)
                                {

                                    <option value="@item.Id">@item.FirstName @item.LastName</option>
                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Lesson date</label>
                        <input type="date" min="1900-01-01" max="2100-12-31"
                               value="@DateTime.Now.ToString("yyyy-MM-dd")" class="form-control" asp-for="LessonDate">
                    </div>


                    <div class="form-group">
                        <label>Theme Name</label>
                        <select class="custom-select" asp-for="ThemeName" size="1">

                            @if (@ViewBag.Lesson.Themes != null)
                            {
                                @foreach (var item in @ViewBag.Lesson.Themes)
                                {
                                    <option value="@item.Name">@item.Name</option>
                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>

                    <div class="form-group">
                        <label>Student Group</label>
                        <select class="custom-select" asp-for="StudentGroupId" size="1">
                            @if (@ViewBag.Lesson.StudentGroups != null)
                            {
                                @foreach (var item in @ViewBag.Lesson.StudentGroups)
                                {

                                    <option value="@item.Id">@item.Name</option>

                                }
                            }
                            else
                            {
                                <option value="@null">null</option>
                            }
                        </select>
                    </div>


                    <div class="form-group">
                        <label>Student Group</label>
                        <select class="custom-select" asp-for="LessonVisits" size="12">

                            @if (@ViewBag.Lesson.Students != null)
                            {


                                @foreach (var student in @ViewBag.Lesson.Students)
                                {
                                    <option value="@student.Id"> @student.FirstName </option>

                                }

                            }
                            else
                            {
                                <option value="@null">null</option>
                            }

                        </select>
                    </div>


                    <div class="card-body">
            <div class="table-responsive p-3" style="overflow-x:unset">
                 <table class="table text-center table-striped container-fluid" width="100%" cellspacing="0">
                    <thead>
                        <tr class="thead-dark row">
                            <th class="col">Student's Name</th>
                            <th class="col-3">Student Mark</th>
                            <th class="col-1">Presence</th>
                            <th class="col-3">Comment</th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (int i = 0; i < Model.Students.Count; i++)
			             {
                        <tr class="row">

                            @*<td class="col-2 text-truncate"><input type="checkbox" name="LessonVisits[i].Presence" value="@Model.LessonVisits[i].Presence" /></td>*@

                            @*<td class="col text-truncate" asp-for="@Model.LessonVisits[i].StudentId" value="@Model.Students[i].Id">@Model.Students[i].FirstName @Model.Students[i].LastName</td>*@

                            <td class="col text-truncate "><input type="number" asp-for="@Model.LessonVisits[i].StudentId" />@Model.Students[i].Id</td>

                            <td class="col-3 text-truncate "><input type="number" asp-for="@Model.LessonVisits[i].StudentMark" /></td>
                            <td class="col-1 text-truncate"><input type="checkbox" asp-for="@Model.LessonVisits[i].Presence" /></td>
                            <td class="col-3 text-truncate"><input type="text" asp-for="LessonVisits[i].Comment" /></td>

                        </tr>
			             }

                        @*@foreach (var item in Model.Students)
                        {
                            <tr class="row">

                                <td class="col text-truncate" value="@item.Id">@item.FirstName @item.LastName</td>
                                <td class="col-2 text-truncate "><input type="number" asp-for="StudentMark" /></td>
                                <td class="col-2 text-truncate"><input type="checkbox" asp-for="Presence" /></td>
                                <td class="col-3 text-truncate"><input type="text" asp-for="Comment" /></td>

                            </tr>

                        }*@



                    </tbody>

                 </table>
            </div>
        </div>



                    <div class="mt-3">
                        <a class="btn btn-secondary" asp-action="AllLessons" asp-controller="Lessons">Close</a>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>


