
@model  CharlieBackend.Panel.Models.Lesson.LessonVisitModel

@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Attendance</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:unset">
                        <table class="table text-center table-striped container-fluid" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark row">
                                    <th class="col">Student</th>
                                    <th class="col-3">Mark</th>
                                    <th class="col-2">Presence</th>
                                    <th class="col-2">Comment Null</th>
                                </tr>
                            </thead>

                            <tbody>

                                @*@foreach (var student in @Model.Students)
                                {
                                   <tr class="row">

                                    <td class="col text-truncate">@student.FirstName</td>
                                    <td class="col-3 text-truncate"></td>
                                    <td class="col-2 text-truncate"></td>
                                    <td class="col-2 text-truncate"></td>

                                   </tr>
                                }*@
                 
                                 @foreach (var student in @Model.Visit)
                                 {
                                   <tr class="row">

                                    <td class="col text-truncate">@student.StudentId</td>
                                    <td class="col-3 text-truncate">@student.StudentMark</td>
                                    <td class="col-2 text-truncate">@student.Presence</td>
                                    <td class="col-2 text-truncate">@student.Comment</td>

                                   </tr>
                                }

                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
