@model IEnumerable<CharlieBackend.Panel.Models.ScheduledEvent.ScheduledEventViewModel>

@{
    Layout = "_Layout";
}


<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Nearest events</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:unset">
                        <table class="table text-center table-striped container-fluid" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark row">
                                    <th class="col">Student Group</th>
                                    <th class="col-2">Theme</th>
                                    <th class="col-2">Mentor</th>
                                    <th class="col-2">Start</th>
                                    <th class="col-2">Finish</th>
                                    <th class="col-1">Controll</th>
                                </tr>
                            </thead>

                            <tbody>
                                @foreach (var scheduledEvent in @Model)
                                {
                                    <tr class="row">
                                        <td class="col text-truncate">@scheduledEvent.StudentGroupName</td>
                                        <td class="col-2 text-truncate">@scheduledEvent.ThemeName</td>
                                        <td class="col-2 text-truncate">@scheduledEvent.MentorFirstName @scheduledEvent.MentorLastName</td>
                                        <td class="col-2 text-truncate">@scheduledEvent.EventStart.ToString("yyyy.MM.dd HH:mm")</td>
                                        <td class="col-2 text-truncate">@scheduledEvent.EventFinish.ToString("yyyy.MM.dd HH:mm")</td>


                                        <td class="col-1">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondar dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                    <a class="dropdown-item"
                                                       asp-action="CreateLesson" asp-controller="Lessons" asp-route-stGroupId="@scheduledEvent.StudentGroupId" asp-route-eventId="@scheduledEvent.Id">
                                                        <i class="fas fa-pen"></i>
                                                        <span>Attach new Lesson</span>
                                                    </a>

                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

