@model IEnumerable<CharlieBackend.AdminPanel.Models.EventOccurrence.EventOccurrenceViewModel>
@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">
    <div class="container-fluid">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <div class="row">
                    <h6 class="m-2 font-weight-bold text-primary">Event Occurrences</h6>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive p-3" style="overflow-x:unset">
                    <table class="table text-center table-hover" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr class="thead-dark row">
                                <th class="col-2">StudentGroupId</th>
                                <th class="col-2">Storage</th>
                                <th class="col-3">EventStart</th>
                                <th class="col-3">EventFinish</th>
                                <th class="col-2">Control</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="row">
                                    <td class="col-2">@item.StudentGroupId</td>
                                    <td class="col-2">@item.Storage</td>
                                    <td class="col-3">@item.EventStart</td>
                                    <td class="col-3">@item.EventFinish</td>
                                    <td class="col-2">
                                        <div class="dropdown">
                                            <button class="btn btn-outline-secondar dropdown-toggle"
                                                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                    aria-haspopup="true" aria-expanded="false">
                                                <i class="fas fa-cog"></i>
                                            </button>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item text-dark js-edit-event-occurrence" data-toggle="modal" data-target="#editEventOccurrence" data-item-name="@item.Storage" data-item-id="@item.StudentGroupId">
                                                    <i class="fas fa-pen"></i>
                                                    <span>Edit </span>
                                                </a>
                                                <a class="dropdown-item text-dark js-delete-event-occurrence" data-toggle="modal" data-target="#deleteEventOccurrence" data-item-name="@item.Storage" data-item-id="@item.StudentGroupId">
                                                    <i class="fas fa-pen"></i>
                                                    <span>Delete </span>
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        var routeForEditCourse = "/EventOccurrence/DeleteEventOccurrence/";
        var editCourseId = null;
        var editCourseName = null;
        $(document).on("click", ".js-delete-event-occurrence", function (e) {
            e.preventDefault();
            var _self = $(this);
            editCourseId = _self.data('item-id');
            editCourseName = _self.data('item-name');
            $("#courseNameInput").val(editCourseName);
        });
        $("#courseNameInput").on('change keyup paste', function () {
            $("#confirmEditCourse").attr("href", routeForEditCourse + editCourseId + '?&name=' + $("#courseNameInput").val());
        });
    </script>
}
