@model IList<CharlieBackend.Panel.Models.StudentGroups.StudentGroupViewModel>

@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
                @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                {
                    <a asp-action="CreateStudentGroup" asp-controller="StudentGroup" class="btn btn-lg btn-success btn-circle">
                        <i class="fas fa-plus"></i>
                    </a>
                }
            </div>
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-2 font-weight-bold text-primary">Student groups</h6>
                        @if (User.IsInRole("Mentor"))
                        {
                            if (ViewBag.IsAllGroups)
                            {
                                <a class="btn btn-light" asp-action="AllStudentGroups" asp-controller="StudentGroup" asp-route-isAllGroups="false">
                                    <i class="fas fa-users"></i>
                                    <span> All student groups</span>
                                </a>
                            }
                            else
                            {
                                <a class=" btn btn-light"
                                   asp-action="AllStudentGroups" asp-controller="StudentGroup">
                                    <i class="fas fa-crown"></i>
                                    <span> Your student groups </span>
                                </a>
                            }
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:auto">
                        <table class="table text-center table-hover" id="groupsDataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark">
                                    <th scope="col">Course name</th>
                                    <th scope="col">Group name</th>
                                    <th scope="col">Start date</th>
                                    <th scope="col">Finish date</th>
                                    <th scope="col"><i class="fas fa-users" data-toggle="tooltip" data-placement="top" title="Students"></i></th>
                                    <th scope="col"><i class="fas fa-address-book"  data-toggle="tooltip" data-placement="top" title="Mentors"></i></th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                                    {
                                        <th scope="col"><i class="fas fa-pen"  data-toggle="tooltip" data-placement="top" title="Controll"></i></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var studentGroup in @Model)
                                {
                                    <tr>
                                        <td>@studentGroup.Course.Name</td>
                                        <td>@studentGroup.Name</td>
                                        <td>@studentGroup.StartDate.ToString("yyyy.MM.dd")</td>
                                        <td>@studentGroup.FinishDate.ToString("yyyy.MM.dd")</td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-outline-secondar dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @if (studentGroup.Students.Any())
                                                    {
                                                        @foreach (var student in studentGroup.Students)
                                                        {
                                                            <label class="dropdown-item" href="#">@student.FirstName @student.LastName   </label>
                                                        }
                                                    }
                                                    else
                                                    {
                                                        <label class="dropdown-item" href="#">null</label>
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <button type="button" class="btn btn-outline-secondar dropdown-toggle" data-toggle="dropdown">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <div class="dropdown-menu">
                                                    @if (studentGroup.Mentors.Any())
                                                    {
                                                        @foreach (var mentor in studentGroup.Mentors)
                                                        {
                                                            if (mentor.IsActive)
                                                            {
                                                                <label class="dropdown-item" href="#">@mentor.FirstName @mentor.LastName</label>
                                                            }
                                                            else
                                                            {
                                                                <del>
                                                                    <label class="dropdown-item" href="#">@mentor.FirstName @mentor.LastName</label>
                                                                </del>
                                                            }
                                                        }
                                                    }
                                                </div>
                                            </div>
                                        </td>
                                        @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                                        {
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        <a class="dropdown-item"
                                                           asp-action="PrepareStudentGroupForUpdate" asp-controller="StudentGroup" asp-route-id="@studentGroup.Id">
                                                            <i class="fas fa-pen"></i>
                                                            <span>Edit</span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
