@model IEnumerable<CharlieBackend.AdminPanel.Models.Homework.HomeworkViewModel>

@{
    Layout = "_Layout";
}

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
            <a asp-action="SelectCourses" asp-controller="Homeworks" class="btn btn-lg btn-success btn-circle">
                <i class="fas fa-plus"></i>
            </a>
        </div>

        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">

                        <h6 class="m-2 font-weight-bold text-primary">Homeworks</h6>

                    </div>

                </div>

                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:unset">
                        <table class="table text-center table-hover" @*id="dataTable"*@ width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark row">
                                    <th class="col-4">Deadline</th>
                                    <th class="col-3">Task Text</th>
                                    <th class="col-3">Publishing Date</th>
                                    <th class="col">Controll</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {
                                    <tr class="row" @*id="activeMentorsRow"*@>
                                        <td class="col-4 text-truncate">@item.DueDate</td>
                                        <td class="col-3 text-truncate">@item.TaskText</td>
                                        <td class="col-3 text-truncate">@item.PublishingDate</td>
                                        <td class="col">
                                            <div class="dropdown">
                                                <button class="btn btn-outline-secondar dropdown-toggle"
                                                        type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                        aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-cog"></i>
                                                </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                    <a class=" dropdown-item" asp-action="PrepareHomeworkForUpdate" asp-controller="Homeworks" asp-route-id="@item.Id">
                                                        <i class="fas fa-pen"></i>
                                                        <span>Edit</span>
                                                    </a>

                                                    <a class=" dropdown-item" asp-action="HomeworkHistory" asp-controller="Homeworks" asp-route-id="@item.Id">
                                                        <i class="fas fa-book-open"></i>
                                                        <span>History</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
