@model IEnumerable<CharlieBackend.Panel.Models.Secretary.SecretaryViewModel>

@{
    Layout = "_Layout";
}

<div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
    <div class="dropleft">
        <button type="button" class="btn btn-lg btn-success btn-circle " data-toggle="dropdown">
            <i class="fas fa-plus"></i>
        </button>
        <div class="dropdown-menu ">
            <form method="post" class="input-group" asp-action="AddSecretary" asp-controller="Secretaries">

                <input type="text" class="form-control" name="id" placeholder="Account id" />

                <button type="submit" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>
</div>
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-2 font-weight-bold text-primary">Secretaries</h6>
                        <a class=" btn btn-light js-Secretary-list-button" id="activeSecretaries">
                            <i class="far fa-eye"></i>
                            <span> Active Secretaries </span>
                        </a>
                        <a class="btn btn-light js-Secretary-list-button d-none" id="inactiveSecretaries">
                            <i class="far fa-eye-slash"></i>
                            <span> Inactive Secretaries</span>
                        </a>
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:auto">
                        <table class="table text-center table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark">
                                    <th scope="col">Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    <th scope="col"><i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Controll"></i></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var secretary in Model)
                                {
                                    if (secretary.IsActive)
                                    {
                                        <tr id="activeSecretariesRow">
                                            <td>@secretary.Email</td>
                                            <td>@secretary.FirstName</td>
                                            <td>@secretary.LastName</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <a class=" dropdown-item" asp-action="UpdateSecretary" asp-controller="Secretaries" asp-route-id="@secretary.Id">
                                                                <i class="fas fa-pen"></i>
                                                                <span>Edit </span>
                                                            </a>
                                                        }
                                                        <a class="dropdown-item text-dark js-disable-Secretary" data-toggle="modal" data-target="#disableSecretaryModalWindow" data-item-id="@secretary.Id">
                                                            <i class="fas fa-trash"></i>
                                                            <span>Disable </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="d-none" id="inactiveSecretariesRow">
                                            <td>@secretary.Email</td>
                                            <td>@secretary.FirstName</td>
                                            <td>@secretary.LastName</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                        @if (User.IsInRole("Admin"))
                                                        {
                                                            <a class=" dropdown-item" asp-action="UpdateSecretary" asp-controller="Secretaries" asp-route-id="@secretary.Id">
                                                                <i class="fas fa-pen"></i>
                                                                <span>Edit </span>
                                                            </a>
                                                        }
                                                        <a class="dropdown-item text-dark js-enable-Secretary" data-toggle="modal" data-target="#enableSecretaryModalWindow" data-item-id="@secretary.Id">
                                                            <i class="fas fa-trash"></i>
                                                            <span>Enable </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Disable Secretary modal window-->
    <div class="modal fade" id="disableSecretaryModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disable Secretary?</h5>

                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmDisableSecretary" href="">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Enable Secretary modal window-->
    <div class="modal fade" id="enableSecretaryModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enable Secretary?</h5>

                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmEnableSecretary" href="">Confirm</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        var isOnlyActiveSecretaries = false;

        var switchButtons = document.querySelectorAll(".js-Secretary-list-button");

        var activeSecretariesRow = document.querySelectorAll("#activeSecretariesRow");
        var inactiveSecretariesRow = document.querySelectorAll("#inactiveSecretariesRow");

        switchButtons.forEach(function (item) {

            item.addEventListener('click', function (event) {

                event.stopPropagation();

                if (isOnlyActiveSecretaries) {

                    document.querySelector("#activeSecretaries").classList.remove('d-none')
                    document.querySelector("#inactiveSecretaries").classList.add('d-none');

                    activeSecretariesRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    inactiveSecretariesRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });

                } else {
                    document.querySelector("#inactiveSecretaries").classList.remove('d-none')
                    document.querySelector("#activeSecretaries").classList.add('d-none');

                    inactiveSecretariesRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    activeSecretariesRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });
                }

                isOnlyActiveSecretaries = !isOnlyActiveSecretaries;
            }, true)
        });
    </script>

    <script type="text/javascript">

        var routeForDisableSecretary = "/Secretaries/DisableSecretary/";

        var disableSecretaryId = null;

        $(document).on("click", ".js-disable-Secretary", function (e) {

            e.preventDefault();

            var _self = $(this);

            disableSecretaryId = _self.data('item-id');

            $("#confirmDisableSecretary").attr("href", routeForDisableSecretary + disableSecretaryId);
        });
    </script>
    
    <script type="text/javascript">

        var routeForEnableSecretary = "/Secretaries/EnableSecretary/";

        var enableSecretaryId = null;

        $(document).on("click", ".js-enable-Secretary", function (e) {

            e.preventDefault();

            var _self = $(this);

            enableSecretaryId = _self.data('item-id');

            $("#confirmEnableSecretary").attr("href", routeForEnableSecretary + enableSecretaryId);

        });
    </script>
}
