@model IEnumerable<CharlieBackend.Panel.Models.Mentor.MentorViewModel>

@{
    Layout = "_Layout";
}

@if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
{
    <div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
        <div class="dropleft">
            <button type="button" class="btn btn-lg btn-success btn-circle " data-toggle="dropdown">
                <i class="fas fa-plus"></i>
            </button>
            <div class="dropdown-menu ">
                <form method="post" class="input-group" asp-action="AddMentor" asp-controller="Mentors">
                    <input type="text" class="form-control" name="id" placeholder="Account id" />
                    <button type="submit" class="btn btn-outline-success btn-sm">
                        <i class="fas fa-plus"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
}

<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">
                        <h6 class="m-2 font-weight-bold text-primary">Mentors</h6>
                        @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                        {
                            <a class=" btn btn-light js-Mentor-list-button" id="activeMentors">
                                <i class="far fa-eye"></i>
                                <span> Active Mentors </span>
                            </a>
                            <a class="btn btn-light js-Mentor-list-button d-none" id="inactiveMentors">
                                <i class="far fa-eye-slash"></i>
                                <span> Inactive Mentors</span>
                            </a>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:auto">
                        <table class="table text-center table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark">
                                    <th scope="col">Email</th>
                                    <th scope="col">First Name</th>
                                    <th scope="col">Last Name</th>
                                    @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                                    {
                                        <th scope="col"><i class="fas fa-pen" data-toggle="tooltip" data-placement="top" title="Controll"></i></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var mentor in Model)
                                {
                                    if (mentor.IsActive)
                                    {
                                        <tr id="activeMentorsRow">
                                            <td>@mentor.Email</td>
                                            <td>@mentor.FirstName</td>
                                            <td>@mentor.LastName</td>
                                            @if (User.IsInRole("Admin") || User.IsInRole("Secretary"))
                                            {
                                                <td>
                                                    <div class="dropdown">
                                                        <button class="btn btn-outline-secondar dropdown-toggle"
                                                                type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                                aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-cog"></i>
                                                        </button>
                                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                            <a class=" dropdown-item" asp-action="UpdateMentor" asp-controller="Mentors" asp-route-id="@mentor.Id">
                                                                <i class="fas fa-pen"></i>
                                                                <span>Edit </span>
                                                            </a>

                                                            <a class="dropdown-item text-dark js-disable-Mentor" data-toggle="modal" data-target="#disableMentorModalWindow" data-item-id="@mentor.Id">
                                                                <i class="fas fa-trash"></i>
                                                                <span>Disable </span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </td>
                                            }
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="d-none" id="inactiveMentorsRow">
                                            <td>@mentor.Email</td>
                                            <td>@mentor.FirstName</td>
                                            <td>@mentor.LastName</td>
                                            <td>
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                        <a class=" dropdown-item" asp-action="UpdateMentor" asp-controller="Mentors" asp-route-id="@mentor.Id">
                                                            <i class="fas fa-pen"></i>
                                                            <span>Edit </span>
                                                        </a>
                                                        <a class="dropdown-item text-dark js-enable-Mentor" data-toggle="modal" data-target="#enableMentorModalWindow" data-item-id="@mentor.Id">
                                                            <i class="fas fa-trash"></i>
                                                            <span>Enable </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Disable Mentor modal window-->
    <div class="modal fade" id="disableMentorModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disable Mentor?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmDisableMentor" href="">Confirm</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Enable Mentor modal window-->
    <div class="modal fade" id="enableMentorModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Enable Mentor?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmEnableMentor" href="">Confirm</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        var isOnlyActiveMentors = false;

        var switchButtons = document.querySelectorAll(".js-Mentor-list-button");

        var activeMentorsRow = document.querySelectorAll("#activeMentorsRow");
        var inactiveMentorsRow = document.querySelectorAll("#inactiveMentorsRow");

        switchButtons.forEach(function (item) {

            item.addEventListener('click', function (event) {

                event.stopPropagation();

                if (isOnlyActiveMentors) {

                    document.querySelector("#activeMentors").classList.remove('d-none')
                    document.querySelector("#inactiveMentors").classList.add('d-none');

                    activeMentorsRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    inactiveMentorsRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });

                } else {
                    document.querySelector("#inactiveMentors").classList.remove('d-none')
                    document.querySelector("#activeMentors").classList.add('d-none');

                    inactiveMentorsRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    activeMentorsRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });
                }

                isOnlyActiveMentors = !isOnlyActiveMentors;

            }, true)
        });


    </script>

    <script type="text/javascript">

        var routeForDisableMentor = "/Mentors/DisableMentor/";

        var disableMentorId = null;

        $(document).on("click", ".js-disable-Mentor", function (e) {

            e.preventDefault();

            var _self = $(this);

            disableMentorId = _self.data('item-id');

            $("#confirmDisableMentor").attr("href", routeForDisableMentor + disableMentorId);

        });

    </script>

    <script type="text/javascript">

        var routeForEnableMentor = "/Mentors/EnableMentor/";

        var enableMentorId = null;

        $(document).on("click", ".js-enable-Mentor", function (e) {

            e.preventDefault();

            var _self = $(this);

            enableMentorId = _self.data('item-id');

            $("#confirmEnableMentor").attr("href", routeForEnableMentor + enableMentorId);

        });

    </script>
}
