
@model IEnumerable<CharlieBackend.AdminPanel.Models.Mentor.MentorViewModel>

@{
    Layout = "_Layout";
}



<div class="fixed-bottom ml-4" style="left:90%; right:50%; bottom:8%;">
    <div class="dropleft">
        <button type="button" class="btn btn-lg btn-success btn-circle " data-toggle="dropdown">
            <i class="fas fa-plus"></i>
        </button>
        <div class="dropdown-menu ">
            <form method="post" class="input-group" asp-action="AddMentor" asp-controller="Mentors">
                <input type="text" class="form-control" name="id" placeholder="Account id" />
                <button type="submit" class="btn btn-outline-success btn-sm">
                    <i class="fas fa-plus"></i>
                </button>
            </form>
        </div>
    </div>

</div>

<div id="content-wrapper" class="d-flex flex-column">

    <div id="content">

        <div class="container-fluid">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <div class="row">

                        <h6 class="m-2 font-weight-bold text-primary">Mentors</h6>

                        <a class=" btn btn-light js-mentor-list-button" id="activeMentors">
                            <i class="far fa-eye"></i>
                            <span> Active mentors </span>
                        </a>

                        <a class="btn btn-light js-mentor-list-button d-none" id="inactiveMentors">
                            <i class="far fa-eye-slash"></i>
                            <span> Inactive mentors</span>
                        </a>
                    </div>

                </div>

                <div class="card-body">
                    <div class="table-responsive p-3" style="overflow-x:unset">
                        <table class="table text-center table-hover" id="dataTable" width="100%" cellspacing="0">
                            <thead>
                                <tr class="thead-dark row">
                                    <th class="col-4">Email</th>
                                    <th class="col-3">First Name</th>
                                    <th class="col-3">Last Name</th>
                                    <th class="col">Controll</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var item in Model)
                                {

                                    if (item.IsActive)
                                    {
                                        <tr class="row" id="activeMentorsRow">
                                            <td class="col-4 text-truncate">@item.Email</td>
                                            <td class="col-3 text-truncate">@item.FirstName</td>
                                            <td class="col-3 text-truncate">@item.LastName</td>
                                            <td class="col">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                        <a class=" dropdown-item" asp-action="UpdateMentor" asp-controller="Mentors" asp-route-id="@item.Id">
                                                            <i class="fas fa-pen"></i>
                                                            <span>Edit </span>
                                                        </a>

                                                        @if (@item.IsActive)
                                                        {

                                                            <a class="dropdown-item text-dark" id="disableMentor" data-toggle="modal" data-target="#disableMentorModalWindow" data-item-id="@item.Id">
                                                                <i class="fas fa-trash"></i>
                                                                <span>Disable </span>
                                                            </a>
                                                        }
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                    else
                                    {
                                        <tr class="row d-none" id="inactiveMentorsRow">
                                            <td class="col-4 text-truncate">@item.Email</td>
                                            <td class="col-3 text-truncate">@item.FirstName</td>
                                            <td class="col-3 text-truncate">@item.LastName</td>
                                            <td class="col">
                                                <div class="dropdown">
                                                    <button class="btn btn-outline-secondar dropdown-toggle"
                                                            type="button" id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                        <i class="fas fa-cog"></i>
                                                    </button>
                                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                                        <a class=" dropdown-item" asp-action="UpdateMentor" asp-controller="Mentors" asp-route-id="@item.Id">
                                                            <i class="fas fa-pen"></i>
                                                            <span>Edit </span>
                                                        </a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Disable mentor modal window-->
    <div class="modal fade" id="disableMentorModalWindow" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Disable mentor?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" id="confirmDisableMentor" href="/Mentors/DisableMentor/">Confirm</a>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts{
    <script type="text/javascript">

        var isOnlyActiveMentors = false;

        var switchButtons = document.querySelectorAll(".js-mentor-list-button");

        var activeMentorsRow = document.querySelectorAll("#activeMentorsRow");
        var inactiveMentorsRow = document.querySelectorAll("#inactiveMentorsRow");

        switchButtons.forEach(function (item) {

            item.addEventListener('click', function (event) {

                event.stopPropagation();

                if (isOnlyActiveMentors) {

                    document.querySelector("#activeMentors").classList.remove('d-none')
                    document.querySelector("#inactiveMentors").classList.add('d-none');

                    activeMentorsRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    inactiveMentorsRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });

                } else {
                    document.querySelector("#inactiveMentors").classList.remove('d-none')
                    document.querySelector("#activeMentors").classList.add('d-none');

                    inactiveMentorsRow.forEach(function (item) {
                        item.classList.remove('d-none');
                    });

                    activeMentorsRow.forEach(function (item) {
                        item.classList.add('d-none');
                    });
                }

                isOnlyActiveMentors = !isOnlyActiveMentors;

            }, true)
        });


    </script>

    <script type="text/javascript">


        var disableMentorId = document.querySelector("#disableMentor").getAttribute('data-item-id');

        var confirmDisableMentor = document.querySelector("#confirmDisableMentor");

        confirmDisableMentor.href = confirmDisableMentor.href + disableMentorId;

    </script>
}
