@model CharlieBackend.AdminPanel.Models.Calendar.CalendarViewModel
@{
    Layout = "_Layout";
}
<style type="text/css">
    #calendar {
    }

    .events button {
        margin-top: 2px;
        width: 100%;
    }

    .badge {
        display: block;
        width: fit-content;
        margin-bottom: 2px;
    }

    div.head div {
        text-align: center;
    }
</style>
<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Calendar</h6>
                </div>
                <div class="card-header py-3">
                    <form method="post" asp-action="UpdateMentor" asp-controller="Mentors" asp-route-id="@ViewBag.Mentor.Id">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <button class="btn btn-outline-secondary" type="submit">Update</button>
                            </div>
                            <select class="custom-select" id="groupSelect" aria-label="Example select with button addon">
                                <option selected>-Group-</option>
                                @foreach (var group in Model.StudentGroups)
                                {
                                    <option value="@group.Id">Group @group.FinishDate.ToString()</option>
                                }
                            </select>
                            <select class="custom-select" id="themeSelect" aria-label="Example select with button addon">
                                <option selected>-Theme-</option>
                                @foreach (var theme in Model.Themes)
                                {
                                    <option value="@theme.Id">Theme @theme.Name</option>
                                }
                            </select>
                            <select class="custom-select" id="courseSelect" aria-label="Example select with button addon">
                                <option selected>-Course-</option>
                                @foreach (var course in Model.Courses)
                                {
                                    <option value="@course.Id">Course @course.Name</option>
                                }
                            </select>
                            <select class="custom-select" id="mentorSelect" aria-label="Example select with button addon">
                                <option selected>-Mentor-</option>
                                @foreach (var mentor in Model.Mentors)
                                {
                                    <option value="@mentor.Id">Mentor @(mentor.FirstName+" "+mentor.LastName)</option>
                                }
                            </select>
                            <select class="custom-select" id="accountSelect" aria-label="Example select with button addon">
                                <option selected>-Account-</option>
                                @foreach (var student in Model.Students)
                                {
                                    <option value="@student.Id">Account @(student.FirstName+" "+ student.LastName)</option>
                                }
                            </select>
                            <select class="custom-select" id="occurenceSelect" aria-label="Example select with button addon">
                                <option selected>-Occurrence-</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        </div>
                        <div class="form-group row">
                            <div class="col-6">
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="startDate">
                            </div>
                            <div class="col-6">
                                <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="finishDate">
                            </div>
                        </div>
                    </form>
                </div>

                @{await Html.RenderPartialAsync("CalendarBody");}
                
            </div>
        </div>
    </div>
</div>